name: Module 2 - Automated Quality Gates
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  unit-tests:
    name: Run unit tests with Maven wrapper
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: maven

      - name: Make mvn executable
        run: chmod +x mvnw

      - name: Run unit tests
        run: ./mvnw test


