name: Module 01 - Environment Handshake

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  verify-java-environment:
    name: Verify Java environment setup
    runs-on: ubuntu-latest


    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: "21"

      - name: Display Java version
        run: java -version

      - name: Make mvn executable
        run: chmod  mvnw

      - name: Clean compile with Maven wrapper
        run: ./mvnw clean compile


